In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import mca
import xgboost as xgb
from xgboost import XGBRegressor, plot_importance
from sklearn.preprocessing import LabelEncoder

C:\Users\mingt\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#Split the file since its too big for github, extract the file outside of .git repository
"""
hpg_res = pd.read_csv('C:\\Users\\mingt\\Downloads\\hpg_reserve.csv\\hpg_reserve.csv')
hpg_res.info()
df1 = hpg_res.iloc[0:100160]
df2 = hpg_res.iloc[100161:200320]
df1.to_csv('hpg_reserve1.csv')
df2.to_csv('hpg_reserve2.csv')
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000320 entries, 0 to 2000319
Data columns (total 4 columns):
hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors    int64
dtypes: int64(1), object(3)
memory usage: 61.0+ MB

In [36]:
air_reserve = pd.read_csv('air_reserve.csv')
air_store_info= pd.read_csv('air_store_info.csv')
air_visit_data = pd.read_csv('air_visit_data.csv')
date_info = pd.read_csv('date_info.csv')
hpg_store_info = pd.read_csv('hpg_store_info.csv')
store_id_relation = pd.read_csv('store_id_relation.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [3]:
#concat files back after its been uploaded on github
hpg_reserve1 = pd.read_csv('hpg_reserve1.csv')
hpg_reserve2 = pd.read_csv('hpg_reserve2.csv')

hpg_reserve = pd.concat([hpg_reserve1, hpg_reserve2])
hpg_reserve['visit_datetime'] = pd.to_datetime(hpg_reserve['visit_datetime'])
hpg_reserve['reserve_datetime'] = pd.to_datetime(hpg_reserve['reserve_datetime'])

In [4]:
air_combined = pd.merge(air_reserve, air_store_info, on='air_store_id', how='outer')
hpg_combined = pd.merge(hpg_reserve, hpg_store_info, on='hpg_store_id', how='left')

air_combined.head(5)
#hpg_combined.head(5)

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_genre_name,air_area_name,latitude,longitude
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1.0,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
1,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2.0,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
2,air_877f79706adbfb06,2016-01-02 18:00:00,2016-01-01 16:00:00,2.0,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
3,air_877f79706adbfb06,2016-01-02 21:00:00,2016-01-01 16:00:00,2.0,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
4,air_877f79706adbfb06,2016-01-08 21:00:00,2016-01-04 20:00:00,2.0,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [38]:
df = store_id_relation.merge(hpg_combined, on='hpg_store_id', how='left')

df2 = air_combined.merge(df, on='air_store_id', how='left')
lbl = LabelEncoder()

df2['latitude'] = df2['latitude_x'].astype(str)
df2['longitude'] = df2['longitude_x'].astype(str)

date_info['calendar_date'] = pd.to_datetime(date_info['calendar_date']).dt.date.astype(str)
#date_info['holiday_flg'] = date_info['holiday_flg'].map({1: 'Yes', 0: 'No'})
date_info['MTWTF'] = date_info['day_of_week'].map({'Monday': 1, 
                                                   'Tuesday': 2, 
                                                   'Wednesday': 3, 
                                                   'Thursday': 4, 
                                                   'Friday': 5,
                                                   'Saturday': 6, 
                                                   'Sunday': 7})

date_info['weekend_or_weekday'] = date_info['day_of_week'].map({'Monday': 0, 
                                                                'Tuesday': 0, 
                                                                'Wednesday': 0, 
                                                                'Thursday': 0, 
                                                                'Friday': 0,
                                                                'Saturday': 1, 
                                                                'Sunday': 1})


date_info2 = date_info.drop(['day_of_week'], axis=1)

In [41]:
sub_store = sample_submission['id'].apply(lambda x: str(x).split('_', 2)[:2])
sub_dates = pd.to_datetime(sample_submission['id'].apply(lambda x: str(x).split('_', 2)[2]).rename('Date'))
sub_stores = pd.Series(['_'.join(x) for x in sub_store]).rename('air_store_id')

sub_dt = pd.DataFrame({
        'air_store_id': sub_stores,
        'date': sub_dates.dt.date.astype(str),
        #'year': sub_dates.dt.year,
        'month': sub_dates.dt.month,
        'day': sub_dates.dt.day })

sub_df = pd.concat([sample_submission, sub_dt], axis=1)
#sub_df['weekend_or_weekday'] = sub_df['weekend_or_weekday'].apply(LabelEncoder().fit_transform)
sub_df2 = sub_df.merge(date_info2, left_on= sub_df['date'], right_on=date_info['calendar_date'])
#sub_df3 = sub_df2.drop(['day_of_week', 'year', 'calendar_date', 'date'], axis =1)

sub_target = sample_submission['visitors']

In [42]:
sub_df2.head(5)

,id,visitors,air_store_id,date,day,month,calendar_date,holiday_flg,MTWTF,weekend_or_weekday
0,air_00a91d42b08b08d9_2017-04-23,0,air_00a91d42b08b08d9,2017-04-23,23,4,2017-04-23,0,7,1
1,air_0164b9927d20bcc3_2017-04-23,0,air_0164b9927d20bcc3,2017-04-23,23,4,2017-04-23,0,7,1
2,air_0241aa3964b7f861_2017-04-23,0,air_0241aa3964b7f861,2017-04-23,23,4,2017-04-23,0,7,1
3,air_0328696196e46f18_2017-04-23,0,air_0328696196e46f18,2017-04-23,23,4,2017-04-23,0,7,1
4,air_034a3d5b40d5b1b1_2017-04-23,0,air_034a3d5b40d5b1b1,2017-04-23,23,4,2017-04-23,0,7,1

In [20]:
#821 unique restaurants in submission file
#sub_df2['air_store_id'].value_counts()

In [71]:
sub_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32019 entries, 0 to 32018
Data columns (total 8 columns):
id                    32019 non-null object
visitors              32019 non-null int64
air_store_id          32019 non-null object
day                   32019 non-null int64
month                 32019 non-null int64
holiday_flg           32019 non-null int64
days_of_week          32019 non-null int64
weekend_or_weekday    32019 non-null int64
dtypes: int64(6), object(2)
memory usage: 2.2+ MB

In [7]:
a = pd.to_datetime(df2['visit_datetime_x'])
b = pd.to_datetime(df2['reserve_datetime_x'])
c = pd.to_datetime(df2['visit_datetime_y'])
d = pd.to_datetime(df2['reserve_datetime_y'])

datetime_df =pd.DataFrame({
        'air_visit_date': a.dt.date.astype(str),
        #'year': a.dt.year,
        'month': a.dt.month,
        'day': a.dt.day,
        
        'air_visit_hour': a.dt.hour,
        #'air_visit_date': a.dt.date,
        #'air_visit_year': b.dt.year,
        
        'air_reserve_month': b.dt.month,
        'air_reserve_day': b.dt.day,
        'air_reserve_hour': b.dt.hour,
         
        #'hpg_visit_date': c.dt.date,
        #'hpg_visit_year': c.dt.year,
        'hpg_visit_month': c.dt.month,
        'hpg_visit_day': c.dt.day,
        'hpg_visit_hour': c.dt.hour,
        
        #'hpg_reserve_date': d.dt.date,
        #'hpg_reserve_year': d.dt.year,
        'hpg_reserve_month': d.dt.month,
        'hpg_reserve_day': d.dt.day,
        'hpg_reserve_hour': d.dt.hour        
    }).fillna(0)

datetime_df2 = datetime_df.merge(date_info, left_on=datetime_df['air_visit_date'], 
                                 right_on=date_info['calendar_date'])


categorical_df = df2[['air_genre_name','air_area_name','latitude','longitude',
                      'hpg_genre_name','hpg_area_name']].fillna('None_Stated').apply(LabelEncoder().fit_transform)

#categorical_df2 = pd.get_dummies(df2[['air_genre_name','air_area_name','latitude','longitude',
                      #'hpg_genre_name','hpg_area_name']].fillna('None_Stated'))

air_visitors = df2['reserve_visitors_x'].fillna(0)
hpg_visitors = df2['reserve_visitors_y'].fillna(0)
df2['reserve_total'] = air_visitors + hpg_visitors

combined_visitors = df2['reserve_total'].astype(int).rename('visitors')

feats1 = pd.concat([combined_visitors, datetime_df2, categorical_df], axis=1)
#[['month', 'day', 'days_of_week', 'holiday_flg', 'weekend_or_weekday']]

feats2 = pd.concat([df2['air_store_id'], datetime_df2, combined_visitors, categorical_df], axis=1)

In [8]:
ids = lbl.fit_transform(feats2['air_store_id'].append(sub_df3['air_store_id']))
feats2['air_store_id_num'] = pd.Series(ids[:1171046])
sub_df3['air_store_id_num'] = pd.Series(ids[1171047:])

In [31]:
feats3 = feats2.drop(['calendar_date', 'air_store_id', 'air_visit_date'], axis=1)

In [19]:
#feats3['visitors'].groupby(feats3['air_store_id_num']).describe()
by_store = feats3['visitors'].groupby(feats3['air_store_id_num']).describe()
by_dow = feats3['visitors'].groupby(feats3['days_of_week']).describe()
#feats3['visitors'].groupby(feats3['air_store_id_num']).describe()

In [20]:
by_dow

                 count      mean       std  min  25%  50%   75%    max
days_of_week
0.0           250315.0  7.104692  4.925783  1.0  4.0  6.0   8.0   85.0
1.0            94349.0  8.421404  7.119696  1.0  4.0  6.0   9.0  105.0
2.0           296033.0  7.527120  5.720969  1.0  4.0  6.0   8.0  100.0
3.0           138976.0  8.564551  6.500581  1.0  5.0  7.0  10.0  108.0
4.0           144465.0  7.900204  7.002014  1.0  4.0  6.0   8.0  100.0
5.0           105110.0  7.180934  5.033017  1.0  4.0  6.0   8.0   76.0
6.0           141017.0  8.016984  6.933720  1.0  4.0  6.0   9.0  113.0

In [11]:
sub_df4 = sub_df3.drop(['id', 'air_store_id'], axis=1)

In [14]:
feats_cols = list(feats3.columns.values)
feats_cols2 = feats_cols[-1:] + feats_cols[:-1]

In [34]:
#feats3.head(15)
feats3['day_of_week']

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
5          Friday
6          Friday
7          Friday
8          Friday
9          Friday
10         Friday
11         Friday
12         Friday
13         Friday
14         Friday
15         Friday
16         Friday
17         Friday
18         Friday
19         Friday
20         Friday
21         Friday
22         Friday
23         Friday
24         Friday
25         Friday
26         Friday
27         Friday
28         Friday
29         Friday
            ...
1171017       NaN
1171018       NaN
1171019       NaN
1171020       NaN
1171021       NaN
1171022       NaN
1171023       NaN
1171024       NaN
1171025       NaN
1171026       NaN
1171027       NaN
1171028       NaN
1171029       NaN
1171030       NaN
1171031       NaN
1171032       NaN
1171033       NaN
1171034       NaN
1171035       NaN
1171036       NaN
1171037       NaN
1171038       NaN
1171039       NaN
1171040       NaN
1171041       NaN
1171042       NaN
1171043       NaN
1171044       NaN
1171045       NaN
1171046       NaN
Name: day_of_week, Length: 1171047, dtype: object

In [30]:
sub_df4.head(15)

,visitors,day,month,holiday_flg,days_of_week,weekend_or_weekday,air_store_id_num
0,0,23,4,0,3,1,0
1,0,23,4,0,3,1,1
2,0,23,4,0,3,1,2
3,0,23,4,0,3,1,3
4,0,23,4,0,3,1,4
5,0,23,4,0,3,1,5
6,0,23,4,0,3,1,6
7,0,23,4,0,3,1,7
8,0,23,4,0,3,1,8
9,0,23,4,0,3,1,9
10,0,23,4,0,3,1,10
11,0,23,4,0,3,1,11
12,0,23,4,0,3,1,12
13,0,23,4,0,3,1,13
14,0,23,4,0,3,1,14

In [40]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 'count': group.count(), 'mean': group.mean()}

group_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
feats3['dow'] = pd.cut(df['visitors'], bins, labels=group_names)



feats3['visitors'].groupby(feats3[air_store_id_num]).apply(get_stats).unstack()

KeyError: ('air_store_id_num', 'days_of_week')

In [33]:
#X_train, X_test, y_train, y_test = train_test_split(features, target, 
                                                    #test_size=0.1, random_state=7)

dmatrix = xgb.DMatrix(feats3, feats3['visitors'])

xgb_params_cv = dict(eta=0.1,
                  objective='reg:linear',
                  eval_metric='rmse')
best = xgb.cv(params = xgb_params_cv, dtrain=dmatrix, num_boost_round=1000, early_stopping_rounds=100, verbose_eval=True)

best.tail(5)

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in fields day_of_week